<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
    <h1 th:text="${message}">Message for Penny</h1>
    <!--<a type="button" class="btn btn-lg btn-primary" href="https://github.com/andrewflbarnes/penny-guess"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>-->
  </div>
</div>
<!--
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-java" class="alert-link">Getting Started with Java on Heroku</a> tutorial.
  </div>
  <hr>
</div>
-->
</body>
</html>
